@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

body{
	font-size: 14px;
	color: #000;
	font-family: 'Open Sans', sans-serif;
}
header{
	background-color: transparent;
	position: relative;
	width: 100%;
	padding: 10px 0;
	border-bottom: 1px solid #eee;
}
.subtitulo{
	font-weight: 600;
	font-size: 25px;
	margin-top: 30px;
}

#hero{
	min-height: 400px;
	color: #000;
}
.slide-1{
	background-image: url("../img/slide-twin-cooling.jpg");
	background-size: cover;
	background-position: bottom center;
	padding: 250px 0;
}
.slide-2{
	background-image: url("../img/slide-galaxy.jpg");
	background-size: cover;
	background-position: bottom center;
	padding: 250px 0;
	color: #FFF;
}
.slide-3{
	background-image: url("../img/slide-whale.jpg");
	background-size: cover;
	background-position: bottom center;
	padding: 250px 0;
	color: #fff;
}
.btn-header{
	padding: 10px 25px;
	margin-top: 25px;
	background-color: transparent;
	color: #000;
	font-weight: 600;
	border: solid 2px #000;
	border-radius: 25px;
}
.btn-header:hover{
	background-color: #ddd;
}
.btn-headerW:hover{
	background-color: #000;
}
.btn-headerW{
	padding: 10px 25px;
	margin-top: 25px;
	background-color: transparent;
	color: #fff;
	font-weight: 600;
	border: solid 2px #fff;
	border-radius: 25px;
}
#products{
	padding: 88px 0;
    text-align: center;
}

.products{
	margin-top: 60px;
}
footer{
	background-color: #f2f2f2;
	padding: 50px 0;

}
.firma {
	text-align: center;
}
.info{
	width: 350px;
    margin: auto;
}
.redes-sociales{
	display: inline-flex;
    text-decoration: none;
    list-style: none;
}

.redes-sociales i{
	padding: 10px;
	border-radius: 50%;
	color: #fff;
	background-color: #000;
	margin: 10px 20px;
	font-size: 35px;
}
.redes-sociales i:hover{
	background-color: #ddd;
	color: #000;
	cursor: pointer;
}
